.room-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 100vh;
  overflow: hidden;
}

.room-info-container {
  position: relative;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  max-width: 600px;
  margin-top: 10px;
  height: 60%;
}

.room-info-container img.additional-image {
  position: absolute;
  bottom: 5%;
  right: 10%; 
  max-width: 55%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
}

.room-details {
  margin-top: 10px;
}

.room-details ul {
  list-style-type: square;
}

.reservation-form-container {
  margin: 20px;
  width: 400px; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px; 
  background-color: white;
  height: 60%;
}
.reservation-form-container form 
{
  margin-bottom: 15px;
}
.reservation-form-container form input,
.reservation-form-container form select {
  width: 100%;
}

.reservation-form-container button {
  width: 100%;
  background-color: black;
  color: white;
  border: 1px solid black;
  margin: 10px;
  margin: 10px 0; 

}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
  z-index: -1; /* Place the image behind the content */
  opacity: 0.6;
  
  
}
.model-class{
  color: rgb(44, 170, 86);
}