
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%; 
  margin-top: 4%;
  background-color: rgba(154, 154, 154, 0);
  border-radius: 5px;
  overflow-y: auto; 
}

.card1 {
  width: 70rem;
  height: 600px;
  margin: 30px;
  border: none;
}

.card1 img {
  height: 400px;
  object-fit: cover;
}

.card1 .card-title {
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card1 .card-text {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.add-button {
  background-color: rgba(170, 170, 170, 0.56);
  border: none;
  position: absolute;
  right: 50px;
  top :120px;
  color: white;
  cursor: pointer;
  width: 150px;
  
}

@media (max-height: 600px) {
  .container {
    height: auto;
  }
}
