/* home.css */

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body {
  background-color: rgb(2, 31, 43);
}

.Container1 {
  position: relative;
  margin-top: -50px;
  height: 80vh;
  padding-left: -100px;
}

.homeTitle {
  text-align: left;
  color: white;
  margin-bottom: 20px;
  padding-top: 40px;
  font-size: 100px;
  margin-left: -100px;
}

.h2-new {
  text-align: left;
  margin-left: -50px;
  margin-left: -100px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.contentContainer {
  position: absolute;
  margin-top: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-left: -100px;
  margin-right: 100px;
}

.background-image-new {
  width: 100%;
  height: 110%;
  margin-right: -400px;
  margin-top: 50px;
}

.centered-content-left{
  margin-top: 20px;
  width: 200px;
  padding-right: 100p;

  
}

.btn {
  width: 300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  opacity: 0.;
}


.Container2 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 160px;
  padding: 20px;
  color: white;
  margin-bottom: -50px;
  position: relative;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

#events-container .card {
  height: 500px;
  width: 75%;
  display: inline-flex;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  transition: background-color 0.6s ease;
  border: none; 
}

.card-body-event {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body-event h3 {
  position: absolute;
  color: white;
  font-size: 40px;
  text-align: center;
  width: 100%;
  transform: translateY(50%);
  transition: transform 0.3s ease, bottom 0.3s ease;
}

.card:hover .card-body-event h3 {
  transform: translateY(-50%);
  top: 100px;
  transition: transform 0.3s ease, bottom 0.3s ease;
}

.card-body-event h4 {
  opacity: 0;
  display: none;
  position: absolute;
  color: white;
  font-size: 18px;
  text-align: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.event-image-one {
  border-radius: 5px;
  height: 100%;
  
}

.h1-event {
  padding-top: 20px;
  font-size: 100px;
  text-align: center;
  color: rgb(116, 112, 11);
  font-family: 'Tangerine', cursive;
}

.Container3 {
  width: 100%;
  text-align: center;
  background-color: rgb(191, 195, 199);
  margin-top: 100px;
  margin-bottom: 60px;
  padding: 20px;
  color: white;
  position: relative;
  overflow: hidden;
  padding-left: 43px;
}

.h1-dining {
  padding-top: 20px;
  font-size: 100px;
  text-align: center;
  color: rgb(127, 107, 17);
  font-family: 'Tangerine', cursive;
}

#dining-container .dining-card {
  margin-top: 50px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;

}

#dining-container .dining-card:hover {
  background-color: rgba(2, 31, 43, 0.7);
  color: white;
}

@media (max-width: 767px) {
  .card {
    height: auto;
  }
}

.card-img-top-dinning02{
  width: 100%;
  height: 56%;
}



.event-card-adj{
  margin-left: 7px;
}
.btn-secondary-booknow{
  color: aqua;
}
  
