

body {
    height: 100%;
    margin: 0;
    background-color: rgb(2, 31, 43);
}

#login-container .container {
    width: 100%;
    position: relative;
    text-align: center;
    height: 90vh;
    overflow: hidden;
}
#login-container .background-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-form {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay-form:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.0); /* Slightly transparent background */
    border-radius: 10px;
    z-index: -1;
    filter: blur(10px); 
}

h2 {
    text-align: center;
    margin-top: -20px;
}

.input{
    background: rgba(255, 255, 255, 0.4);
    color: white;
}

.btn {
    width: 200px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.login-icon {
    width: 130%; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 20px;
    padding-right: 100px;
 
}

.btn:hover {
    background-color: rgb(32, 101, 131);
    color: white;
}

.signup-button {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  
.signup-link{
    text-align: center;
    color: rgb(187, 186, 186);
}
.signup-link-route{
    text-decoration: none;
    color: rgb(187, 186, 186);
}

.signup-link-route:hover{
    color: aliceblue;
}
