/* profile.css */
body {
    
    margin: 0; /* Reset default body margin */
    padding-bottom: 800px; /* Add padding at the bottom */
}
.edit-button {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 2px; /* Adjust the padding as needed */
    align-content: right;
    background-color: beige;
    width: 100px; /* Adjust the width as needed */
    border-radius: 2px;
}


.container {
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: left;
    margin: 0 auto; /* Center the card within its container */
    padding-top: 0%;
    
}   

.profile-pic {
    width: 100px;
    height: 100px; /* Adjust as needed */
    display: flex;
    margin: 0 auto; /* Center the image within its container */
    margin-top: 50px;
    border-radius: 50%;

}

.text-center{
    text-align: left;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center the card within its container */
    margin-top: 100px; /* Add some space to the top of the card */
    background-color: rgba(255, 255, 255, 0.5);
}

.profile-name {
    text-align: center;
    margin-top: 10px;
}

.profile-details {
    
    padding: 20px;
}
.text-center2{
    text-align: left;
    width: 700px; /* Adjust as needed */
    margin: 0 auto; /* Center the card within its container */
    margin-top: 100px; /* Add some space to the top of the card */
    background-color: rgba(255, 255, 255, 0.5); 
  
   
}

.Form{
    margin-top: 50px;
}


  
 
  
  
  