/* Custom CSS for Nav component */

/* Center the Nav items */
.justify-content-center{
    display: flex;
    background-color:#021F2B; /* Set the background color */
    padding: 0px;
    justify-content: center;
    align-items: center; /* Center items vertically */
  }
  .logo-icon{
    width: 100px;
    height: 100px;
    margin-right: 800px; /* Add margin to the right for spacing */  
    
  }
  
  /* Style the Nav links */
  .nav-link {
    color: white; /* Set the text color */
    font-weight: bold; /* Set the font weight */
    margin: 0 10px; /* Add some space between links */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Add a smooth color transition */
  }
  
  .nav-link:hover {
    color:#000080; /* Change color on hover */
  }
  
  /* Active link styles */
  .nav-item.active .nav-link {
    color: #77c298; /* Set the color for the active link */
  }