/* navbar.css */

.justify-content-center {
  display: flex;
  background-color: rgb(3, 39, 55);
  padding-left: 220px;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo-icon {
  width: 120px;
  height: 120px;
  position: relative;
  right: 210px;
}

.nav-links {
  display: flex;
  margin-left: 200px;
}

.nav-link {
  color: rgb(172, 170, 170) !important;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s;
}


.nav-link:hover {
  color: #ffffff !important;
}

/* Override styling for the active Nav link provided by React Bootstrap */
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:hover {
  color: #ffffff !important; /* Set the active link color to white with !important */
  background-color: transparent !important;
}

/* Remove default active styles for specific links */
.nav-item .nav-link.active.event,
.nav-item .nav-link.active.dining,
.nav-item .nav-link.active.about-us {
  color: inherit !important; /* Inherit the color from the parent */
  background-color: transparent !important;
}

/* Move Sign In tab to the right corner */
.navbar-nav .nav-item {
  margin-left: auto !important ;
}

.nav-link-signin{
  margin-left: 380px;
  text-decoration: none;
  color: rgb(172, 170, 170) !important;
  font-weight: 600;
}
.nav-link-signin:hover {
  color: #ffffff !important;
  transition: color 0.3s;
}

 .nav-link-sign .active {
  color: #ffffff !important; /* Set the active link color to white with !important */
  background-color: transparent !important;
}

.profile-dropdown{
  left: 200px;
}