
.justify-content-center {
  display: flex;
  background-color: rgba(2, 31, 43);
  padding: 0px;
  margin-top: -34px;
  margin-bottom: -30px;
  justify-content: space-between; /* Add space-between to separate logo and links */
  align-items: center; /* Center items vertically */
}

.logo-icon {
  width: 120px;
  height: 120px;
  position: relative;
  right: 220px;
}

/* Style the Nav links */
.nav-links {
  display: flex; /* Align nav links in a row */
  align-items: center; /* Center items vertically */
}

.nav-link {
  text-align: center;
  color: rgb(172, 170, 170); /* Set the default text color */
  font-weight: bold; /* Set the font weight */
  margin: 0 10px; /* Add some space between links */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Add a smooth color transition */
}

.nav-link:hover {
  color: #ffffff; /* Change color on hover */
}



